<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>SpotCheck</title>
    {% block head %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}
    <div class="madeByText">
        Built by <a href="https://www.linkedin.com/in/daniel-knopf-609/" class="madeByLink">Daniel Knopf</a> | Designed by <a href="https://www.zoereifel.com/" class="madeByLink">Zoe Reifel</a>
    </div>
</body>
</html>
