<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" 
    content=
    "SpotCheck is a web app that allows Wesleyan University students to receive emails or texts when a seat opens in a class they want during schedule adjustment
    ">
    <meta name="author" content="Daniel Knopf">
    <link rel="canonical" href="https://spotcheck.space/"/>

    <!-- THERE ARE TWO SHORTCUT ICON LINKS -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/jquery.toast.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery.toast.min.css')}}" />

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="apple-touch-icon" href="/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->

    <!-- OPEN GRAPH / FACEBOOK -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://spotcheck.space/" />
    <meta
      property="og:title"
      content="SpotCheck - Subscribe to Classes"
    />
    <meta
      property="og:description"
      content="Sign up to receive alerts when a seat opens in a class you want during Wesleyan schedule adjustment!"
    />
    <meta property="og:image" content="../static/img/favicon-420-square.png" />


    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://spotcheck.space/" />
    <meta
    name="twitter:title"
    content="SpotCheck - Subscribe to Classes"
    />
    <meta
    name="twitter:description"
    content="Sign up to receive alerts when a seat opens in a class you want during Wesleyan schedule adjustment!"
    />
    <meta name="twitter:image" content="https://spotcheck.space/static/img/favicon-420-square.png" />
    <meta name="twitter:site" content="@danielkn609" />
    <meta name="twitter:creator" content="@danielkn609" />


    <title>SpotCheck</title>
    {% block head %}{% endblock %}
    
</head>
{% if not request.MOBILE %}
    {% set background_image='' %}
{% else %}
    {% set background_image='background: white!important;' %}
{% endif %}

<body style="{{background_image}}">
    <div class="content">
        <div class="modalBox">
            <div class="modalBoxContent">


                {% block body %} {% endblock %}

            </div>
            {% if request.MOBILE %}
            <div class="madeByText">
                Created by <a href="https://www.linkedin.com/in/daniel-knopf-609/" class="madeByLink">Daniel Knopf</a>
            </div>
            {% endif %}
        </div>
        {% if not request.MOBILE %}
        <div class="madeByText">
            Created by <a href="https://www.linkedin.com/in/daniel-knopf-609/" class="madeByLink">Daniel Knopf</a> 
        </div>
        {% endif %}
    </div>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
    </script>
</body>
</html>
