{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <div class="modalBox">
        <h1>Your Subscribed Courses</h1>
        <h2>{{user}}</h2>
        {% if courses|length < 1 %}
        <h4 style="text-align: center">There are no courses, subscribe to one on the previous page</h4>
        {% else %}
        <table class="courseTable">
            {% for course in courses %}
            <tr>
                <td class="courseListText">{{ course }}</td>
                <td class="unsubscribeLink">
                    <a href="unsubscribe?user={{user}}&course={{course}}" class="standardLink">Unsubscribe</a>
                    <!--<form action="/unsubscribe" method="POST" class="unsubscribeBox">
                        <input type="submit" value="Unsubscribe" class="unsubscribeLink" />
                        <input type="hidden" name="course" value="{{ course }}" />
                        <input type="hidden" name="user" value="{{ user }}" />
                    </form>-->
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <!--<form action="/subscribe" method="POST">
            <input type="hidden" name="page" value="courselist" />
            <input type="hidden" name="email" value="{{user}}" />
            <input type="text" name="courses" id="courses" />
            <input type="submit" value="Subscribe to courses" />
        </form>-->
        <br />
        <br />

        <form action="/" method="POST">
            <input type="submit" value="Subscribe to another course" class="bigBox"/>
        </form>
    </div>
</div>
{% endblock %}
