{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <div class="modalBox">


        <h1>Welcome to SpotCheck!</h1>
        <p class="main">
            To receive email alerts when a Wesleyan class becomes available during adjustment, enter your email and the classes you're
            interested in below! <br /> <br />Separate the classes by comma, e.g. <i>Techiques of Fiction, Computer Science I, Advanced Tiny Hats</i>
        </p>
        <!--<form action="/" method="POST">
        <input type="text" name="content" id="content" />
        <input type="submit" value="SCRAPE ME BABY" />
    </form>-->
        <form action="/subscribe" method="POST">
            <input type="hidden" name="page" value="index" />
            <br />
            <label>Email address</label>
            <br />
            <br />
            <input type="text" name="email" id="email" />
            <br />
            <br />
            <label>My courses</label>
            <br />
            <br />
            <input type="text" name="courses" id="courses" />
            <br />
            <br />
            <input type="submit" value="Subscribe" class="bigBox"/>
        </form>
        <br />
        <p class="bottomText">To view the courses you are already subscribed to, <a href="{{ url_for('login') }}" class="standardLink">click here</a>.</p>
        <!--<form action="/login"><input type="submit" value="View subscribed courses" class="bigBox"/></form>-->
        <!--<p class="bottomText">To view the courses you are already subscribed to, </p><form><input type="submit" value="click here" /></form>-->
        
    
    <!--<div>
        <p>
            To view the courses you are already subscribed to, enter your email below!
        </p>
    </div>
    <form action="/show_subscribed_courses" method="POST">
        <label>Email:</label>
        <br />
        <input type="text" name="email" id="user_email" />
        <br />
        <input type="submit" value="See subscribed courses" />
    </form>-->

    </div>
</div>
<!--<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks, create one below</h4>
    {% else %}
        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created }}</td>
                    <td>
                        <a href="/delete/{{task.key.id}}">Delete</a>
                        <br>
                        <a href="/update/{{task.key.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="content" id="content" />
        <input type="submit" value="Add Task" />
    </form>
</div>-->
{% endblock %}

