{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <div class="modalBox">


        <h1>Welcome to SpotCheck!</h1>
        <p class="main">
            To receive email alerts when a Wesleyan class becomes available during adjustment, enter your email and the classes you're
            interested in below! Enter a department abbrevation to subscribe to all classes in that department. <br /> <br />Separate the classes by comma, e.g. <i>Techiques of Fiction, COMP, AMST, Advanced Tiny Hats</i>
        </p>
        <!--<form action="/" method="POST">
            <input type="text" name="content" id="content" />
            <input type="submit" value="SCRAPE ME BABY" />
        </form>-->
        <div class="homePageForm">
            <form action="/subscribe" method="POST" >
                <input type="hidden" name="page" value="index" />
                <br />
                <label>Email address</label>
                <br />
                <br />
                <input type="text" name="email" id="email" />
                <br />
                <br />
                <label>My courses</label>
                <br />
                <br />
                <input type="text" name="courses" id="autocomplete" class="form-control" autocomplete="off"/>
                <br />
                <!--<div class="errorDiv">
                    <p class="errorText">
                        {% if tryAgain %}
                        No user with given email exists, please try again!
                        {% else %}
                        <br />
                        {% endif %}
                    </p>
                </div>-->
                <br />
                <input type="submit" value="Subscribe" class="bigBox" id="subscribeButton" />
            </form>
        </div>

        <br />
        <div class="modalBottomDiv">
            <p class="bottomText">To view the courses you are already subscribed to, <a href="{{ url_for('login') }}" class="standardLink">click here</a>.</p>
        </div>    
    <!--<form action="/login"><input type="submit" value="View subscribed courses" class="bigBox"/></form>-->
        <!--<p class="bottomText">To view the courses you are already subscribed to, </p><form><input type="submit" value="click here" /></form>-->
        <!--<div>
            <p>
                To view the courses you are already subscribed to, enter your email below!
            </p>
        </div>
        <form action="/show_subscribed_courses" method="POST">
            <label>Email:</label>
            <br />
            <input type="text" name="email" id="user_email" />
            <br />
            <input type="submit" value="See subscribed courses" />
        </form>-->

    </div>
</div>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
    $(function () {
        var items = {{ course_list| tojson }};

        function split(val) {
            return val.split(/,\s*/);
        }
        function extractLast(term) {
            return split(term).pop();
        }

        $("#autocomplete")
            .autocomplete({
                minLength: 0,
                source: function (request, response) {
                    var results = $.ui.autocomplete.filter(
                        items, extractLast(request.term))
                    console.log(typeof results)
                    response(results.sort().slice(0,10));
                },
                focus: function () {
                    return false;
                },
                select: function (event, ui) {
                    var terms = split(this.value);
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push(ui.item.value);
                    // add placeholder to get the comma-and-space at the end
                    terms.push("");
                    this.value = terms.join(", ");
                    return false;
                }
            });
    });
</script>
<!--<script>
    var course_list_js = {{ course_list| tojson }};
</script>
<script src="{{ url_for('static', filename='js/autocomplete.js')}}"></script>-->
<!--<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks, create one below</h4>
    {% else %}
        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created }}</td>
                    <td>
                        <a href="/delete/{{task.key.id}}">Delete</a>
                        <br>
                        <a href="/update/{{task.key.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="content" id="content" />
        <input type="submit" value="Add Task" />
    </form>
</div>-->
<!--<script>
    // JavaScript source code
function autocomplete(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function (e) {
        var a, b, i, val = this.value;
        /*close any already open lists of autocompleted values*/
        closeAllLists();
        if (!val) { return false; }
        currentFocus = -1;
        /*create a DIV element that will contain the items (values):*/
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        /*append the DIV element as a child of the autocomplete container:*/
        this.parentNode.appendChild(a);
        /*for each item in the array...*/
        for (i = 0; i < arr.length; i++) {
            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase() && a.childElementCount < 5) {
                /*create a DIV element for each matching element:*/
                b = document.createElement("DIV");
                /*make the matching letters bold:*/
                b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                b.innerHTML += arr[i].substr(val.length);
                /*insert a input field that will hold the current array item's value:*/
                b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                /*execute a function when someone clicks on the item value (DIV element):*/
                b.addEventListener("click", function (e) {
                    /*insert the value for the autocomplete text field:*/
                    inp.value = this.getElementsByTagName("input")[0].value.concat(',');
                    /*close the list of autocompleted values,
                    (or any other open lists of autocompleted values:*/
                    closeAllLists();
                });
                a.appendChild(b);
            }
        }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function (e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
        } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
        } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
            }
        }
    });
    function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
        }
    }
    function closeAllLists(elmnt) {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
            }
        }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
    }


    var course_list_js = {{ course_list| tojson }};

    autocomplete(document.getElementById("autocomplete"), course_list_js);
    </script>-->
<!--<script src="{{ url_for('static', filename='js/autocomplete.js')}}"></script>-->
{% endblock %}

