{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
        <h1>Your Subscribed Courses</h1>
        <p class="main">
            Please enter your email or phone number to view your subscribed classes.
        </p>
        <!--<form action="/" method="POST">
            <input type="text" name="content" id="content" />
            <input type="submit" value="SCRAPE ME BABY" />
        </form>-->
        <div class="loginPageButtons">
            <form action="/show_subscribed_courses" method="POST">
                <input type="hidden" name="page" value="index" />
                <br />
                <label>Email address or phone number</label>
                <br />
                <br />
                <input type="text" name="email" id="email" />
                <div class="errorDiv">
                    <p class="errorText">
                        {% if tryAgain %}
                        No user with given username exists, please try again!
                        {% else %}
                        <br />
                        {% endif %}
                    </p>
                </div>
                <br />
                <br />
                <br />
                <input type="submit" value="See subscribed courses" class="bigBox" id="loginButton" />
            </form>


            <br />
            <br />
            <form action="/" method="GET">
                <input type="submit" value="Return to homepage" class="outlineButton" id="homeButton"/>
            </form>
        </div>
{% endblock %}

